/* AboutUs.css */

.content {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem; /* Add padding to prevent content from touching the edges */
}

.top-content-background {
  background-color: #fff1d0;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}

.main-header {
  font-size: 3.5rem;
  font-weight: 800;
  padding: 4rem 0 2rem 0;
  text-align: center;
}

.our-values-header {
  font-size: 2.5rem;
  font-weight: 800;
  padding: 2rem 0 2rem 0;
  text-align: center;
}

.bottom-header {
  font-size: 3.5rem;
  font-weight: 800;
  padding: 4rem 0 2rem 0;
  text-align: center;
}

.center-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-text p {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0 0 2rem 0;
  text-align: left;
  max-width: 900px;
  margin: auto;
}

.group-photo {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
  overflow: hidden; /* Prevent overflow */
}

.group-photo img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-width: 1200px;
}

.employee-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

@media (min-width: 1200px) {
  .employee-cards {
    justify-content: space-between; /* Ensure space between cards */
  }

  .employee-card {
    flex: 1 1 calc(25% - 2rem); /* Four cards per row with gap */
    max-width: calc(25% - 2rem); /* Ensure max width */
  }

}

@media (max-width: 600px) {
  .bottom-header {
    font-size: 2.2rem;
    font-weight: 800;
    color: #000;
    padding: 4rem 0 2rem 0;
    text-align: center;
  }
}
