/*
.contact-text {
    background-color: #FFF1D0;
}
*/

.about-us h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #000;
    padding: 4rem 0 2rem 0;
    text-align: center;
}

.center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40vh;
}

.contact-text p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
    padding: 0 0 2rem 0;
    text-align: left;
    max-width: 900px;
}

.group-photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
}

.group-photo img {
    width: 1200px;
}

.employee-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
}