/* AboutUs.module.css */

.topContentBackground {
  width: 100%;
}

.mainHeader {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.bottomHeader {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  padding-top: 4rem;
  text-align: center;
}

/* Styles for paragraphs */
.mainParagraph {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #666;
}

/* Additional styles for emphasis */
.mainEmphasis {
  font-weight: bold;
  color: #444;
}

.groupPhoto {
  display: flex;
  justify-content: center;
  padding: 2rem 0 3rem;
  width: 100%;
  overflow: hidden; /* Prevent overflow */
}

.groupPhoto img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-width: 1200px;
}

.employeeCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

@media (min-width: 1200px) {
  .employeeCards {
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .mainHeader {
    font-size: 2.2rem;
  }

  .bottomHeader {
    font-size: 2.2rem;
    padding-top: 2rem;
    margin-bottom: 10px;
  }
}

@media (max-width: 390px) {
  .employeeCards {
    gap: 1rem;
  }
  .bottomHeader {
    padding-top: 0;
    font-size: 25px;
    margin-bottom: 0;
  }
}
