/* General content styling */
.content {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem; /* Add padding to prevent content from touching the edges */
}

.top-content-background {
  background-color: #fff1d0;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}

.main-header {
  font-size: 3.5rem;
  font-weight: 800;
  color: #000;
  padding: 4rem 0 2rem 0;
  text-align: center;
}

.center-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
}

.about-us-text {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
  padding: 0 0 2rem 0;
  text-align: left;
  max-width: 900px;
  margin: auto;
}

.group-photo {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
  overflow: hidden; /* Prevent overflow */
}

.group-photo img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-width: 1200px;
}

.employee-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

.employee-card {
  flex: 1 1 calc(25% - 2rem); /* 25% width minus gap for 4 cards per line */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  max-width: calc(25% - 2rem); /* Ensure maximum width does not exceed 25% minus gap */
}
