.pageContainer {
  padding: 7rem 2rem 90px 2rem;
  background-color: #fcf8f3;
  min-height: 100vh;
}

.topText {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.extraBoldInter {
  font-weight: 800;
}

.semiBoldInter {
  font-weight: 500;
}

.centerContent {
  display: flex;
  justify-content: center;
}

.activityCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1900px;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

@media (max-width: 1200px) {
  .activityCards {
    max-width: 100%;
    gap: 2rem;
  }
}
