.mainHeader {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.largeImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.bodyText {
  font-size: 1.2rem;
  line-height: 1.5;
}

.strongText {
  font-weight: 500;
  margin-bottom: 30px;
}

.lightText {
  font-weight: 300;
  color: #666;
  margin: 15px 0;
}
