.image-container {
    width: 100%;
}

/* Image styling */
.main-img {
    width: 100%;
    height: auto;
    display: block;
    max-height: 1100px;
}

.no-underline {
    text-decoration: none;
    color: inherit;
}

.hr-header {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.hr-header h1 {
    white-space: nowrap;
}
  
.hr-header hr {
    width: 100%;
}

.header-title {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.header-line {
    border: none;
    height: 1px;
    background: #ddd;
    margin: 10px 0;
}

.home-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.home-card {
    background-color: white;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 16px;
    max-width: 600px;
    transition: transform 0.2s;
}

.home-card:hover {
    transform: scale(1.05);
  }
  
.home-card-image {
    width: 40%;
    object-fit: cover;
}
  
.home-card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.home-card-content h2 {
    margin: 0 0 8px;
    font-size: 1.5em;
}
  
.home-card-content p {
    margin: 0;
    font-size: 1em;
    color: #666;
}
  

@media (max-width: 768px) {
    .area-cards {
        gap: 2rem;
    }

    .area-card {
        width: 100px;
        height: 100px;
    }

    .area-card header {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .area-card {
        width: 70px;
        height: 70px;
    }

    .area-card header {
        font-size: 18px;
    }
}


