.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.partners img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.info-box-header-br {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}