.topText {
  font-family: "Inter", sans-serif;
  font-weight: 600; /* Semi Bold */
  font-size: 24px;
  margin-top: 2rem;
  text-align: center;
  padding: 0 2rem;
}

.centerContent {
  display: flex;
  justify-content: center;
}

.rentalCards {
  display: flex; /* Establishes a flex container */
  flex-direction: row; /* Arranges items in a row */
  flex-wrap: wrap; /* Enables flex items to wrap onto the next line */
  max-width: 3000px; /* Sets the maximum width of the container */
  justify-content: center; /* Aligns items to the start of the container */
  gap: 4rem; /* Optional: Adds space between items */
  margin-top: 2rem; /* Adds space above the container */
}
