.wideContainerTop {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem 0 2rem;
}

.wideContainerBottom {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem 0 2rem;
}

.topContentBackground {
  width: 100%;
  text-align: left;
}

.imgSlider {
  max-width: 1200px;
  width: 100%;
  aspect-ratio: 10 / 6;
  margin: 0 auto;
}

.topText {
  margin-bottom: 1rem;
}

.mainHeader {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.location {
  font-weight: 300;
  color: #666;
  font-size: 1.75rem;
}

.mapPinIcon {
  margin-right: 0.2em;
}

.address {
  margin-top: 0.2em;
  font-size: 1em;
  color: blue;
  display: flex;
  align-items: center;
}

.address a {
  color: blue;
  text-decoration: none;
}

.address a:hover {
  text-decoration: underline;
}

.bodyText {
  padding-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
}

.strongTextParagraph {
  font-weight: 500;
  margin-bottom: 30px;
}

.lightTextParagraph {
  font-weight: 300;
  color: #666;
  margin: 15px 0;
}

.lightText {
  font-weight: 300;
  color: #666;
}

.strongText {
  font-weight: 500;
}

.containerLists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.customList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding-left: 0;
  margin: 20px 0 20px 10px;
}

.customListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.listRows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.contactInfoBuilding {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.justifySpaceBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.bottomInfoBox {
  padding: 1.2rem 0 0 0.5rem;
}

hr {
  margin: 20px 0;
  width: 100%;
  border: 1px solid #000;
}
