.activity-card {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #f4f0e7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.activity-text {
  /* Add styles for the text container */
  padding: 1rem 16px 1rem 34px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 16px;

  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.activity-title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.activity-description {
  font-size: 20px;
}

.address-activity {
  font-size: 20px;
}

.age-group {
  display: flex;
}

.age-group p {
  padding-top: 10px;
  justify-content: center;
}

.age-group img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.time {
  display: flex;
}

.time p {
  padding-top: 13px;
  font-size: 21px;
}

.time img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.activity-image {
}

@media (max-width: 1200px) {
  .activity-card {
    flex-direction: column;
    max-width: 300px;
    min-height: 650px;
  }
  .age-group img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .time img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .age-group p {
    padding-top: 5px;
    font-size: 20px;
  }
  .time p {
    padding-top: 5px;
    font-size: 20px;
  }
  .activity-text {
    padding: 1rem 16px 1rem 16px;
    font-size: 14px;
  }
  .activity-title {
    font-size: 34px;
  }
}
