.card-activity-link {
  text-decoration: none;
  color: inherit;
}

.card-activity {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card-activity:hover .text-activity {
  text-decoration: underline;
  /* What is best all text underline or just the title */
}

.card-activity:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card-activity:hover .arrow-icon {
  transform: translateX(5px);
}

.text-activity {
  padding: 1rem 16px 1rem 34px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title-activity {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.description-activity {
  font-size: 20px;
  max-width: 400px;
}

.address-activity {
  font-size: 20px;
}

.age-group {
  display: flex;
}

.age-group p {
  padding-top: 8px;
  justify-content: center;
  font-size: 18px;
}

.age-group img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.time {
  display: flex;
}

.time p {
  padding-top: 10px;
  font-size: 18px;
}

.time img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.image-activity {
  width: 400px;
  height: 330px;
}

.time-age-activity {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.bottom-arrow-activity {
  align-self: flex-end; /* Align to the bottom */
  margin-top: auto; /* Push it to the bottom */
  margin-right: 16px;
}

.arrow-icon {
  transition: transform 0.3s ease;
}

@media (max-width: 1200px) {
  .time-age-activity {
    flex-direction: column;
  }
  .card-activity {
    flex-direction: column;
    max-width: 300px;
  }
  .age-group img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .time img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .age-group p {
    padding-top: 5px;
    font-size: 16px;
  }
  .time p {
    padding-top: 5px;
    font-size: 16px;
  }
  .text-activity {
    padding: 1rem 16px 1rem 16px;
    min-height: 310px;
  }
  .title-activity {
    font-size: 34px;
  }
  .description-activity {
    font-size: 14px;
  }
  .address-activity {
    font-size: 14px;
  }
  .image-activity {
    width: 300px;
    height: 250px;
  }
}
