.descriptionCalendarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.descriptionContainer {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Center items vertically */
  justify-content: center;
  flex-direction: column;
  max-width: 200px;
}

.dayPickerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 340px;
  overflow: auto;
}

.circleDescription {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.circleDescription span {
  font-size: 14px;
  margin-left: 8px;
}

.greenCircle,
.redCircle,
.grayCircle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-left: 10px; /* Adjust margin as needed */
}

.greenCircle {
  background-color: #ccffcc; /* Light green */
}

.redCircle {
  background-color: #ffcccc; /* Light red */
}

.grayCircle {
  background-color: #eeeeee; /* Light gray */
}

.circleDescription {
  margin-bottom: 5px; /* Add space between circles and descriptions */
}

@media (max-width: 768px) {
  .descriptionCalendarContainer {
    flex-direction: column;
    gap: 20px;
  }

  .descriptionContainer {
    max-width: 100%;
    flex-direction: row;
    padding-top: 20px;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .descriptionContainer {
    flex-direction: column;
    gap: 10px;
  }
}
