.descriptionCalendarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.descriptionContainer {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Center items vertically */
  flex-direction: column;
  max-width: 200px;
}

.dayPickerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 380px;
  overflow: auto;
}

.greenCircle,
.redCircle,
.grayCircle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-left: 10px; /* Adjust margin as needed */
}

.greenCircle {
  background-color: #ccffcc; /* Light green */
}

.redCircle {
  background-color: #ffcccc; /* Light green */
}

.grayCircle {
  background-color: #eeeeee;
}
