/* Footer.css */
.footer {
  background-color: #5c9d5f; /* 5c9d5f Dark background for the footer */
  min-width: 100vw;
  text-align: left; /* Centering the text */
  font-size: 14px; /* Font size */
  padding: 3vh 0; /* Padding on the top and bottom */
}

.wide-container-footer {
  max-width: 1200px;
  margin: auto;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: row; /* Stacking children vertically */
  justify-content: space-between; /* Space between items */
  gap: 100px; /* Space between items */
}

.footer-content-left {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between items */
  margin: 0;
}

.footer a {
  font-weight: 600;
  font-size: 1rem;
  color: black; /* A light green color for links */
  text-decoration: none; /* No underline */
}

.footer a:hover {
  text-decoration: underline;
}

.social-media {
  display: flex;
  align-items: last baseline; /* Align items to the baseline */
  gap: 20px; /* Space between social media links */
}

.social-media a img {
  width: 40px; /* Set the width of the Twitter logo */
  height: auto; /* Maintain aspect ratio */
  vertical-align: middle; /* Align the image vertically if alongside text or other elements */
}

.social-media a img:hover {
  opacity: 0.6; /* Slightly reduce opacity on hover */
}

.social-media a {
  display: inline-block; /* For better control over alignment and spacing */
  margin-right: 10px; /* Add some space to the right of the link if needed */
}

@media (max-width: 425px) {
  .footer-content-left,
  .social-media {
    align-items: center;
    gap: 10px;
    align-items: baseline;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Space between items */
  }
}
