/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
}

#main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-container {
  padding-bottom: 90px;
  background-color: #fcf8f3;
  min-height: 100vh;
}

.padding-top-4rem {
  padding-top: 4rem;
}

.padding-top-7rem {
  padding-top: 7rem;
}

.extra-bold-inter {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 76px;
}

.semi-bold-inter {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: auto;
}

@media (max-width: 1200px) {
  .extra-bold-inter {
    font-size: 54px;
  }
}

@media (max-width: 768px) {
  .extra-bold-inter {
    font-size: 40px;
  }
  .semi-bold-inter {
    font-size: 16px;
  }
}
